<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>おだいアプリ</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>おだいアプリ</h1>
        <div id="box" class="box">
            <img src="../static/images/box.png" alt="error"/>
        </div>
        <p id="result"></p>
        <button id="draw-button">おだい を引く</button>
        <button id="reset-button" style="display:none;">おぼえた</button>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>